services:

  subitoo:
    # Default to image tag "1" if .env is not set
    image: "kianda/subitoo:${IMAGE_TAG:-1}"
    container_name: "subitoo"
    cap_drop:
      - ALL # Drop all capabilities by default
    security_opt:
      - no-new-privileges:true  # Prevents privilege escalation inside the container
    volumes:
      - "./data:/root/.subitoo/data"
      #- "./src:/app"
    #entrypoint: ["sleep", "infinity"]
